*,
*::after,
*::before{
    box-sizing: border-box;
}

body{
    font-family: 'Montserrat', sans-serif;
    /*width: 100%;*/
    margin: 0;
    /*display: block;*/
}

a{
    text-decoration: none;
    color: inherit;
}

h1, h2, h3, h4, h5, h6{
    margin: 0;
}

.container{
/*    width: 1920px;*/
/*    max-width: 100%;*/

}

.header{
    /*position: absolute;*/
    /*width: 1920px;*/
    /*max-widthwidth: 100%;*/
    /*height: 287px;*/

    /*top: 31px;*/
}

.header_top{
    display: flex;
    height: 29px;
    margin: 31px 77px 0px 77px;
}
.open-tele{
    width: 50%;
    display: flex;
    justify-content:space-between;
    padding-right: 10px;

}

.call-email{
    width: 50%;
    display: flex;
    justify-content:space-between;
    padding-left: 10px;
}

.header_center{
    height: 140px;
    background: #EAEAEA;
    margin: 0px;
    display: flex;
    align-items: center;
}
.nav-menu{
    display: flex;
    margin: 0px 77px;
    align-items: center;
}
.nav-menu-main{
    /*height: 100%;*/
    width: 80%;
    display: flex;

}

.telephone-block{
    /*height: 100%;*/
    width: 20%;
    display: flex;
    justify-content: end;

}